<header>

  <mat-toolbar color="primary">


      <a style="margin:10px" mat-flat-button color = "white" [style]="{'background-color': isLoadingHabr ? 'white' : 'primary'}" (click)="parseHabr()" [disabled]="isLoadingHabr">
        {{ isLoadingHabr ? 'Загрузка' : 'Habr.com' }}   
      </a>
  

  
      <a style="margin:10px" mat-flat-button color = "white" [style]="{'background-color': isLoadingLenta ? 'white' : 'primary'}" (click)="parseLenta()" [disabled]="isLoadingLenta" >
        {{ isLoadingLenta ? 'Загрузка' : 'Lenta.ru' }} 
      </a>


  </mat-toolbar>

</header> 
