<header>

  <mat-toolbar color="primary">

    <p>
      <a mat-flat-button color = "white" [style]="{'background-color': isLoadingHabr ? 'white' : 'primary'}" (click)="parseHabr()" [disabled]="isLoadingHabr">
        {{ isLoadingHabr ? 'Загрузка' : 'Habr.com' }}   
      </a>
    </p>
    <br>
    <br>
    <br>
    <p>
      <a mat-flat-button color = "white" [style]="{'background-color': isLoadingLenta ? 'white' : 'primary'}" (click)="parseLenta()" [disabled]="isLoadingLenta" >
        {{ isLoadingLenta ? 'Загрузка' : 'Lenta.ru' }} 
      </a>
    </p>

  </mat-toolbar>

</header> 